{% extends 'facebook/base.html' %}

{% block content %}

<div class="container">
    <div class="feed">
        <h3 class="name">{{ feed.author }}</h3>
        <div class="date">{{ feed.created_at }}</div>
        <div><a href="/feed/{{ feed.pk }}/edit"><img src="/static/ic_edit.png" height="16px;"></a> <a href="/feed/{{ feed.pk }}/remove"><img src="/static/ic_delete.png" height="16px"></a></div>
        <span class="title">{{ feed.title }}</span>
        <p class="content">{{ feed.text }} </p>
        <div class="accessory">
            <img src="/static/ic_like.jpg" width="16px"> Like <span class="comments"><img src="/static/ic_comment.jpg" width="16px"> Comments</span>
        </div>
    </div>
</div>
<div class="comment_list">
    {% for comment in feed.comments.all %}
    <div class="comment"><span class="name">{{ comment.author }}</span> {{ comment.text }}</div>
    <div class='comment__date'>{{ comment.created_at }} <a href="/comment/{{ feed.pk }}/{{ comment.id }}"><img src="/static/ic_delete.png" height="16px"></a></div>
    {% endfor %}
<div class="form-wrapper">
    <span class="help">Comments</span>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="author" placeholder="닉네임" /><br/>
        <input type="password" name="password" placeholder="패스워드" /><br/>
        <textarea name="text" placeholder="댓글 내용"></textarea>
        <button type="submit">댓글 작성</button>
    </form>
</div>

</div>

{% endblock %}