{% extends 'facebook/base.html' %}

{% block content %}
<div class="form_box">
    <form method="POST">
        {% csrf_token %}
        <h3>페이지 수정하기</h3>
        <input class="input_field" type="text" placeholder="" name="master" value="{{ feed.master }}"><br>
        <input class="input_field" type="text" placeholder="" name="name" value="{{ feed.name }}"><br>
        <input class="input_field" type="text" placeholder="" name="category" value="{{ feed.category }}"><br>
        <textarea class="textarea_field" placeholder="" name="text">{{ feed.text }}</textarea><br>
        <button class="write_button">수정</button>
    </form>
</div>
{% endblock %}