{% extends 'facebook/base.html' %}

{% block content %}
    </div>
    <div class="container">
        {% for feed in articles %}
        <div class="feed">
            <h3 class="name">{{ feed.author }}</h3>
            <div class="date">{{ feed.created_at }}</div>
            <a href="/feed/{{ feed.pk }}" class="title">{{ feed.title }}</a>
            <p class="content">{{ feed.text }} <a class="more" href="/feed/{{ feed.pk }}">더 보기</a></p>
            <div class="'accessory">
                <img src="static/ic_like.jpg" width="16px"> Like <a class="comments" href="/feed/{{ feed.pk }}/"><img src="static/ic_comment.jpg" width="16px"> Comments </a>
            </div>
        </div>
        {% endfor %}
    </div>
   {% endblock %}