{% extends 'facebook/base.html' %}

{% block content %}
<div class="form_box">
    <form method="POST">
        {% csrf_token %}
        <h3>페이지 만들기</h3>
        <input class="input_field" type="text" placeholder="주인" name="master"><br>
        <input class="input_field"type="text" placeholder="이름" name="name"><br>
        <input class="input_field"type="text" placeholder="페이지 분야" name="category"><br>
        <textarea class="textarea_field" placeholder="페이지를 설명해주세요." name="text"></textarea><br>
        <button class="write_button">게시</button>
    </form>
</div>
{% endblock %}